{
  "auth": "userpass:{{ username }}:{{ password }}",
  "listen": ":3179",
  "https": true,
  "identity": "{{ private_key_identity.stdout }}",
  "identitySecretRing": "/home/camlistored/.config/camlistore/identity-secring.gpg",
  "blobPath": "/var/lib/camlistore/blobs",
  "kvIndexFile": "/var/lib/camlistore/camli-index.kvdb"
}
