{
  "auth": "userpass:{{ username }}:{{ password }}",
  "listen": ":3179",
  "https": true,
  "identity": "{{ camlistore_identity.stdout }}",
  "identitySecretRing": "{{ config_dir }}/identity-secring.gpg",
  "blobPath": "/var/lib/camlistore/blobs",
  "googlecloudstorage": "{{ cloudstorage }}",
  "kvIndexFile": "/var/lib/camlistore/camli-index.kvdb"
}
